/***************************************************************************
                            Variables
***************************************************************************/
:root {
  --blue: #0f3a57;
  --white: #eef6fc;
}

/* USAGE
.container {
  color: var(--blue);
  background-color: var(--white);
}
*/
/***************************************************************************
                                  GENERAL 
***************************************************************************/
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/***************************************************************************
                            DASHBOARD SIDE PANEL
***************************************************************************/
#dashboard {
  display: flex;
}

#side-panel {
  background-color: var(--blue);
  color: var(--white);
  width: 25%;
  height: 100vh;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;
}

.side-contents {
  /* padding: 10px 30px; */
}

.personal-information {
  padding: 10px;
}

.greeting {
  font-size: 28px;
}

.section-name {
  font-size: 20px;
}

.side-contents i {
  padding: 5px;
}

.section-products,
.section-company,
.section-category,
.section-sales {
  background-color: #285878;
  padding: 20px;
  /* margin: 15px 0; */
  /* border: solid 1px rgba(255, 255, 255, 0.3); */
  border-radius: 0 15px;

}

#product-content,
#company-content,
#category-content {
  background: #D2EDFF;
  color: var(--blue);
  padding: 10px;
  cursor: pointer;
}


@keyframes active-inactive {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes inactive-active {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.active {
  display: block;
  animation: inactive-active .5s;
}

.inactive {
  animation: active-inactive .5s;
  display: none;
}
/***************************************************************************
                            FIRST DASHBOARD 
***************************************************************************/
#first-dashboard-panel img{
  transform: translate(240px,50px);
  height: 600px;
}

/***************************************************************************
                            FIRST DASHBOARD 
***************************************************************************/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}


th, td {
  text-align: left;
  padding: 15px;
  
}

td:nth-child(even) {
  background-color: #f2f2f2;
} 
thead{
  background: var(--blue);
  color: white;
  
}
.table-container{
  padding: 30px;
}
.row {
  margin-bottom: 30px;
}
  

/* td input[type=text],
td select {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 2px 28px;
} */

/* th:last-child {
  text-align: right;
}

td:last-child {
  text-align: right;
} */


#all-product-panel{
  display: none;
}

#add-product-panel{
  background-color: #eef6fc;
  width: 100%;  
  display: none;
}
.mainWrap{
  padding: 20px 300px;
}
.mainWrap input{
  margin: 10px;
  padding: 7px;
  width: 500px;
}

#all-company-panel{
  display: none;
}

#add-company-panel{
  display: none;
}

#all-category-panel{
  display: none;
}

#add-category-panel{
  display: none;
}