/***************************************************************************
                            Variables
***************************************************************************/
:root {
    --blue: #0f3a57;
    --white: #eef6fc;
}
/* USAGE
.container {
  color: var(--blue);
  background-color: var(--white);
}
*/
